$primary-color:#7ed56f;
$primary-color-medium:#55c57a;
$primary-color-dark:#28b485;
$color-grey:#777;
$font-family:"Lato",sans-serif;
$color-grey-light-1:#f7f7f7;
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 7rem;
$default-font-size: 1.6rem;
$color-black:black;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;